body{
    height: 100vh;
}
.container, .row{
    height: 100vh;
}
.card{
    height: 15rem;
    width: 30%;
    min-width: 200px;
    cursor: pointer;
}
.card *{
    pointer-events: none;
}
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-window{
    padding-top: 50px;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-rows: 255px;
    position: relative;
    overflow-y: scroll;
}
.main-window h2{
    position: absolute;
}
.nav-link{
    cursor: pointer;
}
.item-info{
    height: 100%;
}
.item-info p{
    margin: 20px 0;
}
.buy-text{
    color: green;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50px;
    font-weight: 800;
    transform: translateX(-50%);
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.item-info .errortext{
    margin: 0 0 5px 0;
}